@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

*,
a {
  font-family: "Inter", sans-serif !important;
}
:root {
  --Gray-100: #f3f4f6;
  --Gray-200: #e5e7eb;
  --Gray-300: #d1d5db;
  --Gray-400: #9ca3af;
  --Gray-500: #6b7280;
  --Gray-600: #4b5563;
  --Gray-800: #1f2937;
  --White-White: #fff;
  --Primary-Blue: #004ce0;
  --blue-500: #3b82f6;
  --Blue-100: #dbeafe;
  --Blue-600: #2563eb;
  --Blue-700: #1d4ed8;
  --green-100: #dcfce7;
  --Green-700: #15803d;
  --Teal-100: #ccfbf1;
  --Slate-100: #f1f5f9;
  --Slate-200: #e2e8f0;
  --Slate-900: #0f172a;

  --Pink-100: #fdf2f8;

  --Purple-100: #f3e8ff;
  --Purple-200: #e9d5ff;
  --Amber-100: #fef3c7;

  --Primary-Yellow: #ff9d00;
  --Yellow-200: #fef08a;
  --Violet-300: #c4b5fd;
  --Indigo-100: #e0e7ff;
  --Indigo-500: #6366f1;
  /* Border corner */
  --Corner-Medium: 12px;
  --Corner-8: 8px;
}
.container-small {
  width: 1440px;
  max-width: 1440px;
  margin: 0 auto;
}
.primary-blue {
  color: var(--Primary-Blue);
}
.text-white {
  color: var(--White-White) !important;
}
.blue-600 {
  color: var(--Blue-600);
}
.gray-100 {
  color: var(--Gray-100);
}
.gray-400 {
  color: var(--Gray-400);
}
.gray-500 {
  color: var(--Gray-500);
}
.gray-800 {
  color: var(--Gray-800);
}
.indigo-500 {
  color: var(--Indigo-500);
}
.border-gray {
  border: 1px solid var(--Gray-200, #e5e7eb);
}
.text-15 {
  font-size: 15px;
}
.bc-primary-blue {
  background-color: var(--Primary-Blue);
}
.bc-white {
  background-color: var(--White-White);
  color: #000 !important;
}
.bc-blue-100 {
  background-color: var(--Blue-100) !important;
}
.bc-blue-700 {
  background-color: var(--Blue-700) !important;
}
.bc-gray-100 {
  background-color: var(--Gray-100) !important;
}
.bc-gray-300 {
  background-color: var(--Gray-300) !important;
}
.bc-pink-100 {
  background-color: var(--Pink-100) !important;
}
.bc-purple-100 {
  background-color: var(--Purple-100) !important;
}
.bc-purple-200 {
  background-color: var(--Purple-200) !important;
}
.bc-amber-100 {
  background-color: var(--Amber-100) !important;
}
.bc-primary-yellow {
  background-color: var(--Primary-Yellow) !important;
}
.bc-yellow-200 {
  background-color: var(--Yellow-200) !important;
}
.bc-indigo-100 {
  background-color: var(--Indigo-100) !important;
}
.bc-violet-300 {
  background-color: var(--Violet-300) !important;
}
.bc-slate-200 {
  background-color: var(--Slate-200) !important;
}
.bc-green-100 {
  background-color: var(--green-100) !important;
}
.full-radius {
  border-radius: 100px !important;
}
.ml-0 {
  margin-left: 0px !important;
}
.inline-block {
  display: inline-block !important;
}
label {
  color: var(--Gray-800);
  font-family: "Inter", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 0.07px;
  margin-bottom: 10px;
  display: block;
}
.form-input-icon {
  position: relative;
}
.input_icon {
  position: absolute;
  right: 0;
  display: flex;
  padding: 0px 16px;
  align-items: center;
  font-size: 15px;
  font-weight: 500;
  cursor: pointer;
  color: var(--Gray-500);
  top: 18px;
}
.input_icon_left {
  left: 0;
  right: inherit;
}
.input_icon_left img {
  width: 16px;
  height: 16px;
}
.form-input {
  width: 100%;
  border: 1px solid var(--Gray-200);
  padding: 14px 16px;
  color: var(--Gray-500);
  font-size: 15px;
  border-radius: 6px;
  border: 1px solid var(--Gray-200);
  background: var(--White-White);
  margin-bottom: 8px;

  /* Drop Shadow/sm */
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.05);
}
.input-left-icon .form-input {
  padding-left: 80px;
}
.input-search-bar {
  margin-top: 40px;
}
.input-search-bar .form-input {
  margin: 0;
  /* padding-left: 40px; */
  color: var(--Gray-500);
  background-color: #f3f4f6;
}
.input-search-bar .form-control:first-child .form-input {
  border-radius: 6px 0 0 6px;
}
.input-search-bar .form-control:nth-child(2) .form-input {
  border-radius: 0 6px 6px 0px;
}
.input-search-bar .form-input .form-input:focus,
.form-input:focus-visible {
  border-color: var(--Primary-Blue, #004ce0) !important;
}
.btn {
  display: flex;
  padding: 14px 16px;
  justify-content: center;
  align-items: center;
  font-size: 15px;
  color: #fff;
  font-weight: 500;
  border-radius: 6px;
}
a:hover {
  opacity: 0.8;
}
.btn:hover {
  opacity: 0.8;
}
.btn-blue {
  background: var(--Primary-Blue, #004ce0);
}
.round-btn {
  border-radius: 100px;
}
.btn-dark-blue {
  background: var(--Blue-100);
  color: var(--Primary-Blue);
}
.slate-btn {
  background-color: var(--Slate-100);
  color: var(--Slate-900);
  font-weight: 600;
}
.logo_banner img {
  width: 100%;
  height: 100vh;
  object-fit: cover;
}
.box_container {
  padding: 30px;
  border-radius: var(--Corner-Medium);
  border: 1px solid var(--Gray-200);
}
.user_page {
  max-width: 400px;
  margin-right: auto;
  margin-left: auto;
}
.white_btn {
  display: flex;
  padding: 14px 16px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex: 1 0 0;
  border: 1px solid var(--Gray-200);
  background: var(--White-White);
  color: var(--Gray-500);
}

.divider_line {
  position: relative;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
.divider_line span:nth-child(2) {
  padding: 0 23px;
}
.divider_line span:first-child,
.divider_line span:last-child {
  width: 132px;
  height: 1px;
  background: var(--Gray-300);
}
.already_account_txt,
.continue_txt {
  color: var(--Gray-500, #6b7280);
  font-family: Inter;
  font-size: 16px;
  text-align: center;
  font-style: normal;
  font-weight: 500;
  line-height: 24px; /* 150% */
}
.continue_txt {
  color: var(--Gray-400);
}
.continue_txt a {
  color: var(--Gray-600, #4b5563);
}
.already_account_txt a {
  color: var(--Gray-800, #1f2937);
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px; /* 150% */
  letter-spacing: 0.08px;
  text-decoration-line: underline;
}

.switch-tabs {
  padding: 4px;
  gap: 10px;
  border-radius: var(--Corner-8);
  background: var(--Gray-100, #f3f4f6);
  margin: 60px auto 0;
  display: inline-flex;
  padding: 4px;
}

.switch-tabs li {
  display: inline-flex;
  padding: 12px 16px;
  align-items: center;
  gap: 8px;
  border-radius: 6px;
  color: var(--Gray-800);
  cursor: pointer;

  color: var(--Gray-800, var(--Gray-800, #1f2937));

  font-size: 14px;
  font-weight: 500;
  line-height: 20px; /* 142.857% */
  letter-spacing: 0.07px;
}

.switch-tabs .active,
.switch-tabs li:hover {
  border-radius: 6px;
  background: var(--White-White, #fff);

  /* Drop Shadow/sm */
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.05);
}

/* dashboard page start here */
.dashboard {
  background: var(--Gray-100, #f3f4f6);
}

.user-short-name {
  display: flex;
  padding: 7px 8px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 100px;
  background: var(--Blue-100, #dbeafe);
  color: var(--Gray-800, #1f2937);
  height: 38px;
  width: 38px;
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: 0.08px;
  margin-right: 16px;
}
.user-details {
  border-color: var(--Gray-200, #e5e7eb);
  padding: 15px 0;
  width: 240px;
  margin: 51px 0 24px;
}

.menu-list {
  border-radius: 12px;
  border: 1px solid transparent;
  background: transparent;
  padding: 10px 16px 10px 20px;
  margin-top: 17px;
}

.menu-list.active,
.menu-list:hover {
  border: 1px solid var(--Blue-300, #93c5fd);
  background: var(--Blue-100, #dbeafe);
  font-weight: 700;
}
.menu-list img {
  margin-right: 7px;
}

.white-box-top {
  border-radius: 8px;
  background: var(--White-White, #fff);
  padding: 30px 29px 29px 28px;
  margin-bottom: 8px;
}

.left-menu-bar {
  padding: 50px 30px 40px;
}
.input-search-bar {
  display: flex;
  align-items: center;
}
.input-search-bar .form-control {
  width: 40%;
}
.input-search-bar .input-search-bar-btn {
  width: 18%;
  margin-left: 2%;
}

.white-box-main {
  background-color: var(--White-White);
  border-radius: 8px;
  padding: 54px 20px 50px 40px;
}

.setup_profile-box {
  border: 1px solid var(--Gray-200, #e5e7eb);
  border-radius: 8px;
}

.profile-details .user-details {
  width: 100%;
  margin: 0 auto;
  padding: 0;
}

.profile-details .user-short-name {
  margin-left: auto;
  margin-right: auto;
  padding: 31px;
}
.profile-details .green-btn {
  background: var(--green-100);
  padding: 4px 16px;
  color: var(--Green-700);
  font-weight: 500;
}

.profile-details .switch-tabs {
  margin: 8px 0 58px;
}

.recommendations_box {
  border-radius: 24px;
  border: 1px solid var(--Gray-200, #e5e7eb);
  background: #fff;
  padding: 8px 8px 24px 8px;
  margin-bottom: 24px;
}
.recommendations_box:nth-child(even) {
  margin-left: 24px;
}
.recommendations_box-inside {
  padding: 16px 8px;
  border-radius: 24px;
  background: var(--Teal-100, #ccfbf1);
}
.badge {
  background: #fff;
  padding: 6px;
  border-radius: 100px;
  color: var(--Gray-500);
}
.small-badge {
  border-radius: 6px;
  background: var(--Gray-100, #f3f4f6);
  padding: 8px;
}

.transparent-badge {
  border: 1px solid var(--Gray-600, #4b5563);
  background-color: transparent;
}
.transparent-bc-badge {
  background: rgba(255, 255, 255, 0.1);
}

/* Home page */

.recruiters_section {
  background-image: url("../src/assets/man-sofa-making-plan.png");
  background-position: 0%;
  background-repeat: no-repeat;
  background: linear-gradient(
      270deg,
      rgba(40, 40, 40, 0) 32.82%,
      rgba(40, 40, 40, 0.41) 54.61%,
      #282828 97.88%
    ),
    url("../src/assets/man-sofa-making-plan.png") lightgray 50% / cover
      no-repeat;
  padding: 125px 100px;
  border-radius: 8px;
}
.recruiters_section .badge {
  padding: 10px 24px;
}
.banner-arrow {
  margin-top: -119px;
  padding: 0 100px;
}
.banner-ticket {
  border: 1px solid var(--Gray-200, #e5e7eb);
  background: #fff;
  transform: rotate(10.031deg);
  position: absolute;
  box-shadow: 0px 10px 40px 10px rgba(0, 0, 0, 0.08);
  left: -70px;
  top: -14px;
}
.banner-ticket-img {
  background: #fff;
  overflow: hidden;
  width: 48px;
  height: 48px;
  border-radius: 100px;
}
.banner-ticket-img:not(:first-child) {
  margin-left: -15px;
}
.banner-ticket-img img {
  width: 48px;
  height: 48px;
  object-fit: cover;
  margin-top: -5px;
}
.banner-ticket-right {
  left: inherit;
  right: -70px;
  transform: rotate(-7.139deg);
  top: -43px;
}

.banner-form .form-control:first-child {
  margin-right: 24px;
}
.banner-form .form-input {
  border-radius: 100px;
  padding-left: 115px;
  height: 62px;
  margin: 0;
  padding-right: 140px;
}
.input_icon_left {
  border-right: 1px solid var(--Gray-200);
  padding: 20px;
  height: 100%;
  top: 0;
}
.banner-form .input_icon_riht {
  top: 10px;
  border-radius: 100px;
  margin: 0 20px;
  padding: 10px 12px;
}

.business-women-banner {
  background: linear-gradient(
      180deg,
      rgba(33, 33, 33, 0) 20.54%,
      #212121 94.92%
    ),
    url("../src/assets/businesswoman.png") lightgray 50% / cover no-repeat;
  padding: 300px 100px 80px;
  border-radius: 8px;
}
.business-women h1 {
  font-size: 64px;
}
.business-women-avtar li {
  margin-right: -9px;
  border: 3px solid #fff;
  width: 56px;
  height: 56px;
  border-radius: 100px;
}
.business-woman-ticket {
  position: absolute;
  right: 44px;
  bottom: 30px;
}

.slide-dots li {
  width: 15px;
  height: 15px;
  border-radius: 100px;
  background-color: var(--Gray-300);
  margin-right: 6px;
  cursor: pointer;
}
.slide-dots li.active {
  width: 51.2px;
  border-radius: 8px;
  background-color: var(--Primary-Blue);
}

.find-job-platform-ticket {
  transform: rotate(-5.933deg);
  box-shadow: 0px 10px 8px 0px rgba(0, 0, 0, 0.04),
    0px 4px 3px 0px rgba(0, 0, 0, 0.1);
  margin: -60px auto 0;
}

.find-job-platform-ticket-fixed {
  position: absolute;
  top: -35px;
  left: 50%;
  /* transform:   */
  transform: translate(-50%, 0px) rotate(4.823deg);
}

.progress-bar {
  height: 10px;
  width: 350px;
}
.talent-onboard-input {
  border: 0;
  border-bottom: 4px dashed var(--Gray-500);
  max-width: 218px;
  font-size: 30px;
  color: var(--Gray-500);
}
.talent-box-container {
  padding: 32px 46px;
  border-radius: 40px;
  border: 1px solid var(--Gray-200, #e5e7eb);
  margin-top: 46px;
}
.talent-box-clickable {
  border: 1px solid var(--Gray-200, #e5e7eb);
  position: relative;
  min-width: 204px;
  margin-bottom: 24px;
}
.talent-box-clickable.selected{
  border-color: var(--Primary-Blue);
  border-width: 2px;
}
.talent-box-clickable img {
  width: 40px;
}
.talent-onboarding-title {
  border-bottom: 1px solid var(--Gray-200, #e5e7eb);
  padding-bottom: 28px;
}
.talent-box-clickable input {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  cursor: pointer;
  top: 0;
  opacity: 0;
}
.onboarding-avtar li {
  margin-right: -10px;
  border: 1px solid #fff;
  border-radius: 100px;
}

.talent-input-checked {
  position: absolute;
  right: 10px;
  display: none;
  top: 8px;
  width: 20px;
}
.talent-box-clickable.selected .talent-input-checked {
  display: block;
}
/* footer  */
.footer-menu li {
  text-transform: capitalize;
  position: relative;
  margin: 0 26px;
}
.footer-menu li:not(:first-child):after {
  position: absolute;
  content: "";
  width: 8px;
  height: 8px;
  border-radius: 100px;
  background-color: #d9d9d9;
  left: -28px;
  top: 8px;
}
.footer-social-media li {
  margin-left: 60px;
}
.footer-copy-right {
  /* background-color: var(--Gray-300); */
  border-top: 1px solid var(--Gray-300);
  margin-top: 114px;
  margin-bottom: 50px;
}
@media (min-width: 1536px) {
  .container {
    max-width: 1724px;
    padding-right: 40px;
    padding-left: 40px;
  }
}
