<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Talent Onboarding 7</title>
    <link rel="stylesheet" href="../src/output.css" />
  </head>
  <body>
    <div class="container-small">
      <div class="grid grid-flow-row-dense grid-cols-2 mt-28">
        <div>
          <div class="bc-gray-100 full-radius progress-bar">
            <span
              class="bc-primary-yellow block full-radius"
              style="width: 30%; height: 10px"
            ></span>
          </div>
          <p class="gray-500 mt-9">Welcome to Work-Force Forge</p>
          <h3 class="text-3xl font-bold gray-800 mt-4">Welcome, John</h3>
          <div class="border talent-box-container">
            <div class="talent-onboarding-title">
              <div class="flex items-center justify-between">
                <h1 class="gray-800 font-medium text-3xl mb-4">
                  What are you skills?
                </h1>

                <ul class="flex onboarding-avtar">
                  <li>
                    <img
                      src="../src/assets/avtar-1.png"
                      class="full-radius"
                      alt=""
                    />
                  </li>
                  <li>
                    <img
                      src="../src/assets/avtar-2.png"
                      class="full-radius"
                      alt=""
                    />
                  </li>
                  <li>
                    <img
                      src="../src/assets/avtar-3.png"
                      class="full-radius"
                      alt=""
                    />
                  </li>
                </ul>
              </div>
              <p class="gray-500">
                This helps us match you with the right job.
              </p>
            </div>
            <div class="rounded-xl border p-5 mt-7">
              <div class="grid grid-rows-3 grid-flow-col gap-4">
                <div class="row-span-4 col-span-4">
                  <div class="form-control">
                    <label for="skill" class="gray-500 font-medium">Skill 1</label>
                    <div class="form-input-group">
                      <input
                        type="text"
                        name="skill"
                        id="skill"
                        class="form-input m-0"
                        placeholder="E.g. Protptyping"
                        autocomplete="off"
                      />
                    </div>
                  </div>
                  <div class="mt-4">
                    <p class="gray-500 text-xs">Suggestions</p>
                    <ul class="mt-2">
                      <li
                        class="inline-flex px-2.5 py-3 text-xs gray-800 font-medium mr-2.5 mb-2 input-box"
                      >
                        Figma
                      </li>
                      <li
                        class="inline-flex px-2.5 py-3 text-xs gray-800 font-medium mr-2.5 mb-2 input-box"
                      >
                        Sketch
                      </li>
                      <li
                        class="inline-flex px-2.5 py-3 text-xs gray-800 font-medium mr-2.5 mb-2 input-box"
                      >
                        Protopie
                      </li>
                      <li
                        class="inline-flex px-2.5 py-3 text-xs gray-800 font-medium mr-2.5 mb-2 input-box"
                      >
                        Illustrator
                      </li>
                      <li
                        class="inline-flex px-2.5 py-3 text-xs gray-800 font-medium mr-2.5 mb-2 input-box"
                      >
                        After Effects
                      </li>
                      <li
                        class="inline-flex px-2.5 py-3 text-xs gray-800 font-medium mr-2.5 mb-2 input-box"
                      >
                        Photoshop
                      </li>
                      <li
                        class="inline-flex px-2.5 py-3 text-xs gray-800 font-medium mr-2.5 mb-2 input-box"
                      >
                        Invision
                      </li>
                    </ul>
                  </div>
                  <div class="form-control mt-6">
                    <label for="experience" class="gray-500 font-medium">How many years of experience do you have with this experience?</label>
                    <div class="form-input-group">
                      <input
                        type="text"
                        name="experience"
                        id="experience"
                        class="form-input m-0"
                        placeholder="E.g. Protptyping"
                        autocomplete="off"
                      />
                    </div>
                  </div>
                </div>
                <div class="row-span-3 text-right">
                  <p class="gray-500 mb-4">What would you rate yourself?</p>
                  <ul class="flex justify-end">
                    <li class="ml-3">
                      <img class="w-6" src="../src/assets/star.svg" alt="" />
                    </li>
                    <li class="ml-3">
                      <img class="w-6" src="../src/assets/star.svg" alt="" />
                    </li>
                    <li class="ml-3">
                      <img class="w-6" src="../src/assets/star.svg" alt="" />
                    </li>
                    <li class="ml-3">
                      <img class="w-6" src="../src/assets/star.svg" alt="" />
                    </li>
                    <li class="ml-3">
                      <img class="w-6" src="../src/assets/star.svg" alt="" />
                    </li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="rounded-xl border p-5 mt-4">
              <div class="grid grid-rows-3 grid-flow-col gap-4">
                <div class="row-span-4 col-span-4">
                  <div class="form-control">
                    <label for="skill" class="gray-500 font-medium">Skill 1</label>
                    <div class="form-input-group">
                      <input
                        type="text"
                        name="skill"
                        id="skill"
                        class="form-input m-0"
                        placeholder="E.g. Protptyping"
                        autocomplete="off"
                      />
                    </div>
                  </div>
                  <div class="mt-4">
                    <p class="gray-500 text-xs">Suggestions</p>
                    <ul class="mt-2">
                      <li
                        class="inline-flex px-2.5 py-3 text-xs gray-800 font-medium mr-2.5 mb-2 input-box"
                      >
                        Figma
                      </li>
                      <li
                        class="inline-flex px-2.5 py-3 text-xs gray-800 font-medium mr-2.5 mb-2 input-box"
                      >
                        Sketch
                      </li>
                      <li
                        class="inline-flex px-2.5 py-3 text-xs gray-800 font-medium mr-2.5 mb-2 input-box"
                      >
                        Protopie
                      </li>
                      <li
                        class="inline-flex px-2.5 py-3 text-xs gray-800 font-medium mr-2.5 mb-2 input-box"
                      >
                        Illustrator
                      </li>
                      <li
                        class="inline-flex px-2.5 py-3 text-xs gray-800 font-medium mr-2.5 mb-2 input-box"
                      >
                        After Effects
                      </li>
                      <li
                        class="inline-flex px-2.5 py-3 text-xs gray-800 font-medium mr-2.5 mb-2 input-box"
                      >
                        Photoshop
                      </li>
                      <li
                        class="inline-flex px-2.5 py-3 text-xs gray-800 font-medium mr-2.5 mb-2 input-box"
                      >
                        Invision
                      </li>
                    </ul>
                  </div>
                  <div class="form-control mt-6">
                    <label for="experience" class="gray-500 font-medium">How many years of experience do you have with this experience?</label>
                    <div class="form-input-group">
                      <input
                        type="text"
                        name="experience"
                        id="experience"
                        class="form-input m-0"
                        placeholder="E.g. Protptyping"
                        autocomplete="off"
                      />
                    </div>
                  </div>
                </div>
                <div class="row-span-3 text-right">
                  <p class="gray-500 mb-4">What would you rate yourself?</p>
                  <ul class="flex justify-end">
                    <li class="ml-3">
                      <img class="w-6" src="../src/assets/star.svg" alt="" />
                    </li>
                    <li class="ml-3">
                      <img class="w-6" src="../src/assets/star.svg" alt="" />
                    </li>
                    <li class="ml-3">
                      <img class="w-6" src="../src/assets/star.svg" alt="" />
                    </li>
                    <li class="ml-3">
                      <img class="w-6" src="../src/assets/star.svg" alt="" />
                    </li>
                    <li class="ml-3">
                      <img class="w-6" src="../src/assets/star.svg" alt="" />
                    </li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="flex items-center justify-between mt-7">
              <a
                href="#"
                class="capitalize full-radius font-bold btn btn-dark-red red"
                ><img src="../src/assets/trash.svg" class="mr-2.5" alt=""> Remove Skill</a
              >
              <a
                href="#"
                class="capitalize full-radius font-bold btn btn-dark-blue "
                >Add another skill</a
              >
            </div>
          </div>
          <div class="flex items-center justify-between mt-5">
            <a href="#" class="gray-600 font-bold">Go Back</a>
            <a
              href="#"
              class="btncapitalize full-radius btn-blue btn inline-block"
              >Continue</a
            >
          </div>
          <div class="mt-40 text-center mb-10">
            <p class="gray-500 font-medium">
              Already have an account? <a href="#" class="gray-800">Log In</a>
            </p>
          </div>
        </div>
        <div>
          <div
            class="fixed right-0 top-0 talent-onbaording-banner md:block hidden"
          >
            <img src="../src/assets/right-frame.png" alt="" />
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
