<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="../src/output.css" />
  </head>
  <body class="dashboard">
    <div class="container mt-6">
      <div class="flex">
        <div class="left-menu-bar" style="max-width: 320px; width: 320px">
          <div>
            <a href="#"
              ><img src="../src/assets/WFM-logo.svg" alt="WFM-logo"
            /></a>
          </div>
          <div class="flex border border-x-0 py-4 user-details">
            <div class="user-short-name">JD</div>
            <div>
              <div class="capitalize font-bold gray-800 user-name">john Doe</div>
              <div class="gray-500 text-sm user-email">jogndoe@gmail.com</div>
            </div>
          </div>
          <div>
            <p class="gray-500 text-sm">Menu</p>
            <ul class="main-menu">
              <li>
                <a
                  href="#"
                  class="flex items-center gray-800 capitalize text-sm mb-2 menu-list active"
                  ><img
                    src="../src/assets/home.svg"
                    alt="home"
                    class="mr-1"
                  />dashboard</a
                >
              </li>
              <li>
                <a
                  href="#"
                  class="flex items-center gray-800 capitalize text-sm mb-2 menu-list"
                  ><img
                    src="../src/assets/search-normal.svg"
                    alt="home"
                    class="mr-1"
                  />search job</a
                >
              </li>
              <li>
                <a
                  href="#"
                  class="flex items-center gray-800 capitalize text-sm mb-2 menu-list"
                  ><img
                    src="../src/assets/send.svg"
                    alt="home"
                    class="mr-1"
                  />my application</a
                >
              </li>
              <li>
                <a
                  href="#"
                  class="flex items-center gray-800 capitalize text-sm mb-2 menu-list"
                  ><img
                    src="../src/assets/messages.svg"
                    alt="home"
                    class="mr-1"
                  />message</a
                >
              </li>
              <li>
                <a
                  href="#"
                  class="flex items-center gray-800 capitalize text-sm mb-2 menu-list"
                  ><img
                    src="../src/assets/profile.svg"
                    alt="home"
                    class="mr-1"
                  />profile</a
                >
              </li>
            </ul>
          </div>
        </div>
        <div style="width: 100%">
          <div class="content_box">
            <div class="white-box-top">
              <p class="m-0 gray-500 text-xl font-medium">Welcome, John</p>
              <h1 class="gray-800 font-semibold text-4xl mt-6 mb-2">
                Find your next UX design job!
              </h1>
              <p class="gray-500">
                Explore amazing opportunities from amazing companies!
              </p>
              <div class="input-search-bar">
                <div class="form-control">
                  <div class="form-input-icon">
                    <input
                      type="text"
                      name="email"
                      id="email"
                      class="form-input m-0"
                      placeholder="UX Designer"
                    />
                    <span class="input_icon input_icon_left"
                      ><img src="../src/assets/search-normal.svg" alt=""
                    /></span>
                  </div>
                </div>
                <div class="form-control">
                  <div class="form-input-icon">
                    <input
                      type="text"
                      name="email"
                      id="email"
                      class="form-input"
                      placeholder="UX Designer"
                    />
                    <span class="input_icon input_icon_left"
                      ><img src="../src/assets/search-normal.svg" alt=""
                    /></span>
                  </div>
                </div>
                <div class="input-search-bar-btn">
                  <a href="#" class="btn-blue btn">Search</a>
                </div>
              </div>
            </div>
            <div class="white-box-main">
              <div class="grid grid-flow-row-dense grid-cols-2">
                <div>
                  <div class="pr-10 white-box-left-box">
                    <div class="text-center profile-details">
                      <div class="user-details w-full">
                        <div class="user-short-name">JD</div>
                        <div class="capitalize gray-500 font-medium mt-4">
                          john Doe
                        </div>
                      </div>
                      <div class="">
                        <a
                          href="#"
                          class="btn w-48 mx-auto my-2 green-btn round-btn"
                          ><img
                            src="../src/assets/briefcase.svg"
                            alt="briefcase"
                            class="mr-4"
                          />
                          Available for work</a
                        >
                      </div>
                      <h3 class="text-2xl font-semibold">UI/UX Designer</h3>
                      <div class="flex justify-center">
                        <ul class="switch-tabs">
                          <li class="active">overview</li>
                          <li>about</li>
                        </ul>
                      </div>
                    </div>
                    <div class="grid grid-cols-2">
                      <div>
                        <p class="font-bold text-sm gray-800 mb-2">Personal Details</p>
                        <div class="flex  mb-4">
                          <div class="font-medium gray-800 bc-gray-100 user-short-name"><img src="../src/assets/money-3.svg" alt="money"></div>
                          <div>
                            <div class="capitalize gray-500 text-xs">Work experience</div>
                            <div class="gray-500 text-sm font-bold gray-800">5 years</div>
                          </div>
                        </div>
                        <div class="flex  mb-4">
                          <div class="font-medium gray-800 bc-gray-100 user-short-name"><img src="../src/assets/clock.svg" alt="clock"></div>
                          <div>
                            <div class="capitalize gray-500 text-xs">Salary expectation</div>
                            <div class="gray-500 text-sm font-bold gray-800">$5,000/mo</div>
                          </div>
                        </div>
                        <div class="flex  mb-4">
                          <div class="font-medium gray-800 bc-gray-100 user-short-name"><img src="../src/assets/briefcase-black.svg" alt="clock"></div>
                          <div>
                            <div class="capitalize gray-500 text-xs">Work Hours</div>
                            <div class="gray-500 text-sm font-bold gray-800">Full time</div>
                          </div>
                        </div>
                        <div class="flex  mb-4">
                          <div class="font-medium gray-800 bc-gray-100 user-short-name"><img src="../src/assets/briefcase-black.svg" alt="clock"></div>
                          <div>
                            <div class="capitalize gray-500 text-xs">Work Hours</div>
                            <div class="gray-500 text-sm font-bold gray-800">Full time</div>
                          </div>
                        </div>
                        <div class="flex  mb-4">
                          <div class="font-medium gray-800 bc-gray-100 user-short-name"><img src="../src/assets/book-saved.svg" alt="clock"></div>
                          <div>
                            <div class="capitalize gray-500 text-xs">Education</div>
                            <div class="gray-500 text-sm font-bold gray-800">Computer Science Bsc</div>
                          </div>
                        </div>
                        
                      </div>
                      <div>
                        <p class="font-bold gray-800 mb-2">Top Skills</p>
                        <div class="border-gray rounded-md px-3 py-4 mb-2">
                          <div class="flex items-center justify-between mb-1">
                            <p class="font-bold">Prototyping</p> 
                            <ul class="flex">                              
                              <li><img src="../src/assets/star-fill.svg" alt="star"></li>
                              <li><img src="../src/assets/star-fill.svg" alt="star"></li>
                              <li><img src="../src/assets/star-fill.svg" alt="star"></li>
                              <li><img src="../src/assets/star-fill.svg" alt="star"></li>                              
                              <li><img src="../src/assets/star.svg" alt="star-fill"></li>
                            </ul>
                          </div>
                          <p class="gray-500 text-xs">3 years experience</p>
                        </div>
                        <div class="border-gray rounded-md px-3 py-4  mb-2">
                          <div class="flex items-center justify-between mb-1">
                            <p class="font-bold">Figma</p> 
                            <ul class="flex">                              
                              <li><img src="../src/assets/star-fill.svg" alt="star"></li>
                              <li><img src="../src/assets/star-fill.svg" alt="star"></li>
                              <li><img src="../src/assets/star-fill.svg" alt="star"></li>
                              <li><img src="../src/assets/star-fill.svg" alt="star"></li>
                              <li><img src="../src/assets/star-fill.svg" alt="star"></li>
                            </ul>
                          </div>
                          <p class="gray-500 text-xs">5 years experience</p>
                        </div>
                        <div class="border-gray rounded-md px-3 py-4  mb-2">
                          <div class="flex items-center justify-between mb-1">
                            <p class="font-bold">Wireframing</p> 
                            <ul class="flex">                              
                              <li><img src="../src/assets/star-fill.svg" alt="star"></li>
                              <li><img src="../src/assets/star-fill.svg" alt="star"></li>
                              <li><img src="../src/assets/star-fill.svg" alt="star"></li>
                              <li><img src="../src/assets/star-fill.svg" alt="star"></li>
                              <li><img src="../src/assets/star.svg" alt="star"></li>
                            </ul>
                          </div>
                          <p class="gray-500 text-xs">5 years experience</p>
                        </div>
                        <div class="border-gray rounded-md px-3 py-4  mb-2">
                          <div class="flex items-center justify-between mb-1">
                            <p class="font-bold">Photoshop</p> 
                            <ul class="flex">                              
                              <li><img src="../src/assets/star-fill.svg" alt="star"></li>
                              <li><img src="../src/assets/star-fill.svg" alt="star"></li>
                              <li><img src="../src/assets/star-fill.svg" alt="star"></li>
                              <li><img src="../src/assets/star.svg" alt="star"></li>
                              <li><img src="../src/assets/star.svg" alt="star"></li>
                            </ul>
                          </div>
                          <p class="gray-500 text-xs">3 years experience</p>
                        </div>
                      </div>
                    </div>
                    <div class="px-4 py-6 setup_profile-box">
                      <h6 class="text-xl font-medium mb-2">
                        Setup your profile
                      </h6>
                      <p class="text-sm mb-4 gray-400">
                        Completing your profile gives you the opportunity to
                        apply for jobs and gives us the opportunity to
                        understand your career preferences and best suited
                        matches.
                      </p>
                      <a
                        href="#"
                        class="btn btn-blue font-bold btn-dark-blue round-btn"
                        >Setup your profile
                        <img src="../src/assets/arrow-right.svg" alt="arrow"
                      /></a>
                    </div>
                    
                  </div>
                </div>
                <div>
                  <h4 class="text-xl gray-800 font-medium mb-6">
                    New recommendations (based on your profile)
                  </h4>
                  <div class="">
                    <div class="grid grid-cols-2">
                      <div class="recommendations_box">
                        <div class="mb-9 recommendations_box-inside">
                          <div class="flex items-center justify-between">
                            <div class="text-xs font-medium badge">
                              20 May, 2024
                            </div>
                            <div class="small-badge">
                              <img src="../src/assets/bookmark.svg" alt="" />
                            </div>
                          </div>
                          <div class="flex mt-3 mb-9">
                            <div>
                              <img
                                src="../src/assets/slack.svg"
                                alt=""
                                class="mr-3"
                              />
                            </div>
                            <div>
                              <div class="text-sm gray-500 flex items-center">
                                Slack Technologies
                                <img
                                  src="../src/assets/Ellipse.svg"
                                  alt="Ellipse"
                                  class="mx-2"
                                />
                                <span>Paris</span>
                              </div>
                              <div class="gray-800 text-xl font-bold">
                                UI/UX Designer
                              </div>
                            </div>
                          </div>
                          <ul>
                            <li
                              class="inline-flex text-xs mr-2 mb-2 font-medium badge transparent-badge"
                            >
                              Fulltime
                            </li>
                            <li
                              class="inline-flex text-xs mr-2 mb-2 font-medium badge transparent-badge"
                            >
                              Remote
                            </li>
                            <li
                              class="inline-flex text-xs mr-2 mb-2 font-medium badge transparent-badge"
                            >
                              Senior Level
                            </li>
                            <li
                              class="inline-flex text-xs mr-2 mb-2 font-medium badge transparent-badge"
                            >
                              Project Work
                            </li>
                            <li
                              class="inline-flex text-xs mr-2 mb-2 font-medium badge transparent-badge"
                            >
                              2-3 Years
                            </li>
                          </ul>
                        </div>
                        <div class="flex items-center justify-between">
                          <div class="gray-500 font-medium">
                            <span class="primary-blue text-xl font-bold"
                              >$5,500</span
                            >
                            /mo
                          </div>
                          <a href="#" class="btn-blue btn slate-btn"
                            >View Details</a
                          >
                        </div>
                      </div>
                      <!-- ... -->
                      <div class="recommendations_box">
                        <div
                          class="mb-9 recommendations_box-inside bc-pink-100"
                        >
                          <div class="flex items-center justify-between">
                            <div class="text-xs font-medium badge">
                              20 May, 2024
                            </div>
                            <div class="small-badge">
                              <img src="../src/assets/bookmark.svg" alt="" />
                            </div>
                          </div>
                          <div class="flex mt-3 mb-9">
                            <div>
                              <img
                                src="../src/assets/slack.svg"
                                alt=""
                                class="mr-3"
                              />
                            </div>
                            <div>
                              <div class="text-sm gray-500 flex items-center">
                                Slack Technologies
                                <img
                                  src="../src/assets/Ellipse.svg"
                                  alt="Ellipse"
                                  class="mx-2"
                                />
                                <span>Paris</span>
                              </div>
                              <div class="gray-800 text-xl font-bold">
                                UI/UX Designer
                              </div>
                            </div>
                          </div>
                          <ul>
                            <li
                              class="inline-flex text-xs mr-2 mb-2 font-medium badge transparent-badge"
                            >
                              Fulltime
                            </li>
                            <li
                              class="inline-flex text-xs mr-2 mb-2 font-medium badge transparent-badge"
                            >
                              Remote
                            </li>
                            <li
                              class="inline-flex text-xs mr-2 mb-2 font-medium badge transparent-badge"
                            >
                              Senior Level
                            </li>
                            <li
                              class="inline-flex text-xs mr-2 mb-2 font-medium badge transparent-badge"
                            >
                              Project Work
                            </li>
                            <li
                              class="inline-flex text-xs mr-2 mb-2 font-medium badge transparent-badge"
                            >
                              2-3 Years
                            </li>
                          </ul>
                        </div>
                        <div class="flex items-center justify-between">
                          <div class="gray-500 font-medium">
                            <span class="primary-blue text-xl font-bold"
                              >$5,500</span
                            >
                            /mo
                          </div>
                          <a href="#" class="btn-blue btn slate-btn"
                            >View Details</a
                          >
                        </div>
                      </div>
                      <div class="recommendations_box">
                        <div
                          class="mb-9 recommendations_box-inside bc-purple-100"
                        >
                          <div class="flex items-center justify-between">
                            <div class="text-xs font-medium badge">
                              20 May, 2024
                            </div>
                            <div class="small-badge">
                              <img src="../src/assets/bookmark.svg" alt="" />
                            </div>
                          </div>
                          <div class="flex mt-3 mb-9">
                            <div>
                              <img
                                src="../src/assets/slack.svg"
                                alt=""
                                class="mr-3"
                              />
                            </div>
                            <div>
                              <div class="text-sm gray-500 flex items-center">
                                Slack Technologies
                                <img
                                  src="../src/assets/Ellipse.svg"
                                  alt="Ellipse"
                                  class="mx-2"
                                />
                                <span>Paris</span>
                              </div>
                              <div class="gray-800 text-xl font-bold">
                                UI/UX Designer
                              </div>
                            </div>
                          </div>
                          <ul>
                            <li
                              class="inline-flex text-xs mr-2 mb-2 font-medium badge transparent-badge"
                            >
                              Fulltime
                            </li>
                            <li
                              class="inline-flex text-xs mr-2 mb-2 font-medium badge transparent-badge"
                            >
                              Remote
                            </li>
                            <li
                              class="inline-flex text-xs mr-2 mb-2 font-medium badge transparent-badge"
                            >
                              Senior Level
                            </li>
                            <li
                              class="inline-flex text-xs mr-2 mb-2 font-medium badge transparent-badge"
                            >
                              Project Work
                            </li>
                            <li
                              class="inline-flex text-xs mr-2 mb-2 font-medium badge transparent-badge"
                            >
                              2-3 Years
                            </li>
                          </ul>
                        </div>
                        <div class="flex items-center justify-between">
                          <div class="gray-500 font-medium">
                            <span class="primary-blue text-xl font-bold"
                              >$5,500</span
                            >
                            /mo
                          </div>
                          <a href="#" class="btn-blue btn slate-btn"
                            >View Details</a
                          >
                        </div>
                      </div>
                      <!-- ... -->
                      <div class="recommendations_box">
                        <div
                          class="mb-9 recommendations_box-inside bc-amber-100"
                        >
                          <div class="flex items-center justify-between">
                            <div class="text-xs font-medium badge">
                              20 May, 2024
                            </div>
                            <div class="small-badge">
                              <img src="../src/assets/bookmark.svg" alt="" />
                            </div>
                          </div>
                          <div class="flex mt-3 mb-9">
                            <div>
                              <img
                                src="../src/assets/slack.svg"
                                alt=""
                                class="mr-3"
                              />
                            </div>
                            <div>
                              <div class="text-sm gray-500 flex items-center">
                                Slack Technologies
                                <img
                                  src="../src/assets/Ellipse.svg"
                                  alt="Ellipse"
                                  class="mx-2"
                                />
                                <span>Paris</span>
                              </div>
                              <div class="gray-800 text-xl font-bold">
                                UI/UX Designer
                              </div>
                            </div>
                          </div>
                          <ul>
                            <li
                              class="inline-flex text-xs mr-2 mb-2 font-medium badge transparent-badge"
                            >
                              Fulltime
                            </li>
                            <li
                              class="inline-flex text-xs mr-2 mb-2 font-medium badge transparent-badge"
                            >
                              Remote
                            </li>
                            <li
                              class="inline-flex text-xs mr-2 mb-2 font-medium badge transparent-badge"
                            >
                              Senior Level
                            </li>
                            <li
                              class="inline-flex text-xs mr-2 mb-2 font-medium badge transparent-badge"
                            >
                              Project Work
                            </li>
                            <li
                              class="inline-flex text-xs mr-2 mb-2 font-medium badge transparent-badge"
                            >
                              2-3 Years
                            </li>
                          </ul>
                        </div>
                        <div class="flex items-center justify-between">
                          <div class="gray-500 font-medium">
                            <span class="primary-blue text-xl font-bold"
                              >$5,500</span
                            >
                            /mo
                          </div>
                          <a href="#" class="btn-blue btn slate-btn"
                            >View Details</a
                          >
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
